[project]
	description = local police station
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/akazakov
[access "refs/for/refs/*"]
	read = group user/akazakov
	push = group user/akazakov
	label-Code-Review = -2..+2 group user/akazakov
	label-Verified = -1..+1 group user/akazakov
	rebase = group user/akazakov
	removeReviewer = group user/akazakov
	submit = group user/akazakov
[access "refs/heads/*"]
	read = group user/akazakov
	create = group user/akazakov
	push = +force group user/akazakov
	pushMerge = group user/akazakov
[access "refs/tags/*"]
	push = +force group user/akazakov
	pushTag = group user/akazakov
	pushSignedTag = group user/akazakov
